$color-black:#000;
$color-white:#fff;

$color-grey:rgb(49, 49, 49);
$color-grey-light:rgb(124, 124, 124);
$color-grey-light-2:rgb(223, 223, 223);

$color-orange-light:rgb(255, 62, 62);
$color-orange:rgb(247, 49, 0);

$color-yellow:rgb(247, 210, 0);
$color-yellow-light:rgb(255, 229, 79);
$color-green:rgb(0, 146, 7);
$color-green-light:rgb(5, 253, 17);
