
.gallery{
    position: relative;
    overflow: hidden;
   
                li{
                    a{
                        img{

                            width: 100%;
                            height: auto;
                            transform: scale(1.03);
                            
                        }
                    }
                }
      
}
